.gallerylink ul{
	text-align: left;
	margin-left: 1em;
	padding-left: 0.5em;
}

.gallerylink p{
	text-align: left;
	margin: 10px;	
}

.gallerylink img{
	float:left;
	margin: 5px 5px 5px 5px;
}

#PlayerContainer-gallerylink{
	float:left;
}

#playlists-gallerylink {
	width: 100%;
	float:left;
	overflow: hidden;
}

#playlists-gallerylink li {
	float: left;
	display: block;
	width: 100%;
	border-width: 1px 0;
	margin: 5px 5px 5px 5px;
}

#playlists-gallerylink li a {
	display: block;
	font: bold 120% Arial, Helvetica, sans-serif;
	padding: 5px;
	text-decoration: none;
}

* html #playlists-gallerylink li a { width: 100%; }

#playlists-gallerylink img{
	float:left;
	margin: 5px 5px 5px 5px;
	overflow: hidden;
}
